{
  "plugins": ["jsx-a11y"],
  "extends": ["plugin:jsx-a11y/recommended"],
  "settings": {
    "jsx-a11y": {
      "components": {
        "Input": "input",
        "Button": "button",
        "Checkbox": "input",
        "SignupButton": "button",
        "CloseButton": "button",
        "ExpandButton": "button",
        "ServiceButton": "button",
        "StyledBurger": "button",
        "PrivacyLink": "a",
        "Social": "a"
      }
    }
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2015
  }
}
